<app-input-text class="preset-value" [appMyFormControl]="name"></app-input-text>
<br/>
<app-input-text class="disabled" [appMyFormControl]="nameDisabled"></app-input-text>
<br/>
<app-input-text class="change-status" [appMyFormControl]="nameForChange"></app-input-text>
<button class="set-to-disable" (click)="onDisableClick()">Disable</button>
<button class="set-to-enable" (click)="onEnableClick()">Enable</button>
<br/>
<br/>
<app-input-text [appMyFormControl]="countOfRegisters"></app-input-text>
<button class="count-registers" (click)="onCountClick()">Count</button>
